.maindiv{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
 height: 100vh;
 width: 0px;
 transition: 1s;
}
button{
    margin: 10px !important;
}
ul{
    text-align: center;
}
li{
    list-style: none;
    margin: 50px;
    color: white;
    font-size: 40px;
    display: none;
}